<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM-dd HH:mm:ss\} %-5p][%t][%c %M %L] %m%n"/>
        </layout>
        <!--过滤器设置输出的级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="debug"/>
            <param name="levelMax" value="warn"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- app log file-->
    <appender name="APP_INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/book.lockbur.local/app_info.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="INFO"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="APP_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/book.lockbur.local/app_error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>
    <!-- SYSTEM log file-->
    <appender name="SYSTEM_INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/book.lockbur.local/system_info.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="INFO"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="SYSTEM_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/export/Logs/book.lockbur.local/system_error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <!-- 指定logger的设置，additivity指示是否遵循缺省的继承机制-->
    <!-- <logger name="com.lockbur.app" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="APP_ERROR"/>
        <appender-ref ref="APP_INFO"/>
    </logger>-->
    <!-- 根logger的设置-->
    <root>
        <level value="INFO"/>
        <appender-ref ref="myConsole"/>
        <!--<appender-ref ref="SYSTEM_ERROR"/>-->
        <!--<appender-ref ref="SYSTEM_INFO"/>-->
    </root>
</log4j:configuration>